<a href="https://colab.research.google.com/github/gkondayya/Hackathon/blob/master/Hackathon_2_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [60]:
from google.colab import files
uploaded = files.upload()

df1 = pd.read_csv('train.csv')

#country = pd.read_excel('Country-Code.xlsx')
#country.head()
df1.shape
df1.isnull().sum()

Saving train.csv to train (2).csv

Id        0
x0_t0     0
x0_t1     0
x0_t2     0
x0_t3     0
         ..
x54_t3    1
x54_t4    1
x54_t5    1
x54_t6    1
y2        1
Length: 387, dtype: int64

# Modelling

# 1. DATA CLEANING:  Dropping 1 row with NA values using dropna

In [61]:
df1.columns

Index(['Id', 'x0_t0', 'x0_t1', 'x0_t2', 'x0_t3', 'x0_t4', 'x0_t5', 'x0_t6',
       'x1_t0', 'x1_t1',
       ...
       'x53_t5', 'x53_t6', 'x54_t0', 'x54_t1', 'x54_t2', 'x54_t3', 'x54_t4',
       'x54_t5', 'x54_t6', 'y2'],
      dtype='object', length=387)

In [62]:
df2=df1.dropna()

df2.shape
df2.head()

    Id       x0_t0       x0_t1       x0_t2  ...    x54_t4   x54_t5  x54_t6    y2
0  706  762.212216  753.162754  754.610620  ...  1.755078  2.03000    2.03  0.72
1  239  762.671780  746.631882  745.807832  ...  1.964556  1.96579    2.03  0.62
2  613  766.867777  756.642963  750.059697  ...  1.976534  2.03000    2.03  0.57
3  588  751.077287  758.230866  761.391167  ...  1.871028  2.03000    2.03  1.01
4  780  772.430815  772.254344  772.322597  ...  2.352961  2.03000    2.03 -0.42

[5 rows x 387 columns]

In [63]:
df2.isnull().sum()

Id        0
x0_t0     0
x0_t1     0
x0_t2     0
x0_t3     0
         ..
x54_t3    0
x54_t4    0
x54_t5    0
x54_t6    0
y2        0
Length: 387, dtype: int64

# 3 LINEAR REGRESSION (RMSE calculation)

In [64]:

X=df2.drop('y2', axis='columns')
X = X.drop('Id', axis='columns')
X.head()

        x0_t0       x0_t1       x0_t2  ...    x54_t4   x54_t5  x54_t6
0  762.212216  753.162754  754.610620  ...  1.755078  2.03000    2.03
1  762.671780  746.631882  745.807832  ...  1.964556  1.96579    2.03
2  766.867777  756.642963  750.059697  ...  1.976534  2.03000    2.03
3  751.077287  758.230866  761.391167  ...  1.871028  2.03000    2.03
4  772.430815  772.254344  772.322597  ...  2.352961  2.03000    2.03

[5 rows x 385 columns]

In [65]:
y = df2.y2
y.shape
y.head()

0    0.72
1    0.62
2    0.57
3    1.01
4   -0.42
Name: y2, dtype: float64

In [66]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=1000)

#y_outliers = df4.drop(['neighbourhood_group'],axis='columns').price
#X_outliers = df4.drop(['neighbourhood_group'],axis='columns')

# Transforming test data for validation

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

from sklearn.metrics import r2_score

sklr = LinearRegression(normalize=False)
lm = sklr.fit(X_train,y_train)


score = sklr.score(X_test,y_test)


preds_test = sklr.predict(X_test)
preds_train = sklr.predict(X_train)



rmse_test = np.sqrt(mean_squared_error(y_test, preds_test))
rmse_train = np.sqrt(mean_squared_error(y_train, preds_train))

print("RMSE_test: %f" % (rmse_test))
print("RMSE_train: %f" % (rmse_train))

print ('Score:', score)

r2_score_train = r2_score(y_train, preds_train)
r2_score_test = r2_score(y_test, preds_test)

print("r2_score_train: %f" % (r2_score_train))
print("r2_score_test: %f" % (r2_score_test))

RMSE_test: 0.704148
RMSE_train: 0.000000
Score: -44.15777621748786
r2_score_train: 1.000000
r2_score_test: -44.157776

 # 4 XG Boost regression (RMSE Calculation)

In [69]:

import xgboost as xgb
from sklearn.metrics import mean_squared_error
data_dmatrix = xgb.DMatrix(data=X,label=y)
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

lm=  xg_reg.fit(X_train,y_train)

score = xg_reg.score(X_test,y_test)


preds_test = xg_reg.predict(X_test)
preds_train = xg_reg.predict(X_train)



rmse_test = np.sqrt(mean_squared_error(y_test, preds_test))
rmse_train = np.sqrt(mean_squared_error(y_train, preds_train))

print("RMSE_test: %f" % (rmse_test))
print("RMSE_train: %f" % (rmse_train))

print ('Score:', score)

r2_score_train = r2_score(y_train, preds_train)
r2_score_test = r2_score(y_test, preds_test)

print("r2_score_train: %f" % (r2_score_train))
print("r2_score_test: %f" % (r2_score_test))

[13:11:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE_test: 0.093500
RMSE_train: 0.109125
Score: 0.20379305855601992
r2_score_train: 0.644148
r2_score_test: 0.203793

# Lasso

In [70]:
from sklearn.linear_model import Lasso
skls = Lasso()
lm = skls.fit(X_train,y_train)


score = skls.score(X_test,y_test)


preds_test = skls.predict(X_test)
preds_train = skls.predict(X_train)



rmse_test = np.sqrt(mean_squared_error(y_test, preds_test))
rmse_train = np.sqrt(mean_squared_error(y_train, preds_train))

print("RMSE_test: %f" % (rmse_test))
print("RMSE_train: %f" % (rmse_train))

print ('Score:', score)

r2_score_train = r2_score(y_train, preds_train)
r2_score_test = r2_score(y_test, preds_test)

print("r2_score_train: %f" % (r2_score_train))
print("r2_score_test: %f" % (r2_score_test))

RMSE_test: 0.100302
RMSE_train: 0.159508
Score: 0.08373701133478306
r2_score_train: 0.239699
r2_score_test: 0.083737

 # DecisionTreeRegressor

In [71]:
from sklearn.tree import DecisionTreeRegressor
skdt = DecisionTreeRegressor()
lm = skdt.fit(X_train,y_train)

score = skdt.score(X_test,y_test)


preds_test = skdt.predict(X_test)
preds_train = skdt.predict(X_train)



rmse_test = np.sqrt(mean_squared_error(10**y_test, 10**preds_test))
rmse_train = np.sqrt(mean_squared_error(10**y_train, 10**preds_train))

print("RMSE_test: %f" % (rmse_test))
print("RMSE_train: %f" % (rmse_train))

print ('Score:', score)

r2_score_train = r2_score(y_train, preds_train)
r2_score_test = r2_score(y_test, preds_test)

print("r2_score_train: %f" % (r2_score_train))
print("r2_score_test: %f" % (r2_score_test))

RMSE_test: 1.072488
RMSE_train: 0.000000
Score: -3.4983583050854135
r2_score_train: 1.000000
r2_score_test: -3.498358

# Random forest with searchCV

In [72]:
from sklearn.model_selection import  RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor ,RandomForestRegressor

rndf_model = RandomForestRegressor(random_state=33)
par_grid = dict(n_estimators=range(15,100,15),max_depth=range(4,25),min_samples_split=range(60,500,20),min_samples_leaf=range(25,75,15),max_leaf_nodes=range(7,30,2))

scanCV = RandomizedSearchCV(rndf_model,par_grid,scoring='neg_mean_squared_error',n_jobs=-1,cv=5,random_state=33)
lm = scanCV.fit(X_train,y_train)

preds_test =scanCV.best_estimator_.predict(X_test)

print('RMSE_test:',np.sqrt(mean_squared_error(10**y_test, 10**preds_test)))

preds_train = scanCV.best_estimator_.predict(X_train)
print('RMSE_train:',np.sqrt(mean_squared_error(10**y_train, 10**preds_train)))

r2_score_train = r2_score(y_train, preds_train)
r2_score_test = r2_score(y_test, preds_test)

print("r2_score_train: %f" % (r2_score_train))
print("r2_score_test: %f" % (r2_score_test))

RMSE_test: 0.6961120831663978
RMSE_train: 2.4560317009631225
r2_score_train: 0.249866
r2_score_test: 0.292147

# Predictions on TEST data

In [44]:
from google.colab import files
uploaded = files.upload()

df_t = pd.read_csv('test.csv')

df_t.head()

Saving test.csv to test (1).csv

    Id       x0_t0       x0_t1       x0_t2  ...    x54_t3    x54_t4  x54_t5  x54_t6
0  584  738.152456  747.990517  754.681726  ...  1.596884  1.480912    2.03    2.03
1  678  750.304526  751.440356  751.625640  ...  1.939651  2.044686    2.03    2.03
2  728  778.247612  766.210592  773.076177  ...  2.472161  2.193177    2.03    2.03
3  338  759.227472  758.535754  762.247934  ...  1.870825  1.741741    2.03    2.03
4  570  770.473802  768.971055  770.843730  ...  2.082357  2.099017    2.03    2.03

[5 rows x 386 columns]

In [73]:
X = df_t.drop(['Id'],axis='columns')
X.shape
Test_data_predictions = xg_reg.predict(X)

#final_submission['id'] = df12['id']

#final_submission['price'] = pd.DataFrame(10**Test_data_predictions)



submission = pd.DataFrame(Test_data_predictions,index = df_t['Id'],columns = ['y2'])

#print(final_submission2.columns)

submission.to_csv('Submission_Bombay_Hackers.csv')


submission.head()

           y2
Id
584  0.551162
678  0.464767
728  0.488200
338  0.525598
570  0.357522